/* REGISTRATION CONTAINER */
        .register-container {
            background: #ffffff;
            padding: 25px;
            border-radius: 10px;
            width: 380px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin: 40px auto;
        }



/* REGISTRATION CONTAINER 2 */
        .login-container {
        background: #ffffff;
        padding: 25px;
        border-radius: 10px;

        width: 90%;          /* Mobile: fills most of the screen */
        max-width: 400px;    /* Tablet / Laptop: wider box */
        min-width: 300px;    /* Prevents it from becoming too small */

        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin: 60px auto;
        }